
@import "~antd/dist/antd.css";

::-webkit-scrollbar {
    padding: 20px;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-color: rgba(0,0,0,0);
    overflow-x: scroll!important;
}

::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(22, 58, 100);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    height: 450px;
    background-repeat: no-repeat;
}